body {
  margin: 0;
  padding: 4px;
  width: calc(100% - 8px);
  min-height: calc(100dvh - 8px);
  background-color: #111;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  width: 100%;
  min-height: calc(100dvh - 8px);
}

div#topBar {
  display: flex;
  width: calc(100% - 2px);
  margin-bottom: 4px;
  gap: 4px;
}

div#topBar h1 {
  padding: 0px 4px;
}

div#topBar button:first-of-type {
  margin-left: auto;
}

div#topBar button {
  background-color: #444;
  color: #fff;
  border: 1px #aaa solid;
  border-radius: 2px;
  justify-self: flex-end;
}

main {
  border: 1px #aaa solid;
  width: calc(100% - 12px);
  min-height: calc(100dvh - 60px);
  padding: 4px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

h1, p {
  margin: 0;
}

#audioBlockInput {
  background-color: #333;
  color: #fff;
  border: 1px #aaa solid;
  border-radius: 2px;
}

#searchHolder {
  position: relative;
}

#searchResultsHolder {
  position: absolute;
  top: 24px;
  left: 0px;
  background-color: #444;
  padding: 2px 4px;
  border: 1px #aaa solid;
  border-radius: 2px;
}

#searchResultsHolder option {
  color: #fff;
}